@import url("common.css");
@import url("side_menu.css");

@import url("accordian.css");
main ul {
    margin-top: 1em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}

main ul {
    padding-top: 10px;
    margin-left: 1.5em;
}

main li {
    color: rgb(85, 85, 85);
    display: list-item;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    /* height: 20px; 
    /* line-height: 10px; */
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 10px;
}

#mini-bullet{
    margin-top: -5px;
}


details summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 0;
}


details p, details ul {
    margin-left: 1em; 
    font-size: 1em; 
    margin-bottom: -10px;

}

details ul li {
  margin-left: 1.5em;
font-size: 1em; 
}

details summary:hover {
  background-color: #f0f0f0; 
  color: #333; 
}

.accordion {
    padding: 15px;
    font-size: 1.1em;
}

