@import url("common.css");
@import url("side_menu.css");
@import url("accordian.css");


mini-bullet{
    margin-top: -5px;
}


details summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 0;
}


details p, details ul {
    margin-left: 1em; 
    font-size: 1em; 
    margin-bottom: -10px;

}

details ul li {
  margin-left: 1.5em;
font-size: 1em; 
}

details summary:hover {
  background-color: #f0f0f0; 
  color: #333; 
}

.accordion {
    padding: 15px;
    font-size: 1.1em;
}

.panel ul li {
  margin-left: 1.5em;
font-size: 1em; 
}