@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}

tr {
    display: table-row;
    background-color: #eee;
}

th {
    background-color: #3d3d3d;
    color: #eee;
    font-weight: bold;
    display: table-cell;
    padding: 1em;
}

tr,
td {
    padding: 1em;
    border: 1px solid #dadada;
    font-size: 1em;
    line-height: 1.1em;
}